python/*
python/**/.exercism
python/**/*.pyc
python/**/__pycache__
python/**/README.md
!python/hello-world
!python/two-fer
!python/matrix
!python/hamming
!python/raindrops
!python/isogram
!python/twelve-days
!python/word-count
!python/scrabble-score
!python/acronym
!python/kindergarten-garden
!python/clock
!python/luhn
!python/reverse-string
!python/leap
!python/isbn-verifier
!python/rna-transcription
!python/pangram
!python/armstrong-numbers
!python/space-age
!python/dnd-character
