./*
./**/.exercism
./**/*.pyc
./**/__pycache__
./**/README.md
!hello-world
!two-fer
!matrix
!hamming
!raindrops
!isogram
!twelve-days
!word-count
!scrabble-score
!acronym
!kindergarten-garden
!clock
!luhn
!reverse-string
!leap
!isbn-verifier
!rna-transcription
!pangram
!armstrong-numbers
!space-age
!dnd-character
!series
!knapsack
